[Desktop Entry]
Type=Application
Terminal=false
Exec=tutanota
Name=Tutanota
Icon=tutanota-desktop
X-XFCE-Source=file:///home/dylan/.local/share/applications/tutanota.desktop
