[Desktop Entry]
Name=Tutanota Desktop
Exec=aipman run tutanota
Terminal=false
Type=Application
Icon=/home/dylan/.cache/thumbnails/normal/00e4e2291e7a5420a9e3c2bdcb9227d6.png
StartupWMClass=tutanota-desktop
X-AppImage-Version=3.112.11.423
Comment=
MimeType=x-scheme-handler/mailto;
Categories=Network;
X-ExecLocation=/home/dylan/Applications/tutanota-3.112.11.AppImage
TryExec=/home/dylan/Applications/appimaged-stable-754.AppImage
X-AppImage-Identifier=00e4e2291e7a5420a9e3c2bdcb9227d6
Actions=Trash;OpenPortableHome;CreatePortableHome;Extract;Show
X-XFCE-Source=file:///home/dylan/.local/share/applications/appimagekit_00e4e2291e7a5420a9e3c2bdcb9227d6.desktop

Path=
StartupNotify=false

[Desktop Action Trash]
Name=Move to Trash
Exec=gio trash "/home/dylan/Applications/tutanota-3.112.11.AppImage"

[Desktop Action OpenPortableHome]
Name=Open Portable Home in File Manager
Exec=xdg-open "/home/dylan/Applications/tutanota-3.112.11.AppImage.home"

[Desktop Action CreatePortableHome]
Name=Create Portable Home
Exec=mkdir -p "/home/dylan/Applications/tutanota-3.112.11.AppImage.home"

[Desktop Action Extract]
Name=Extract to AppDir
Exec=bash -c "cd '/home/dylan/Applications' && '/home/dylan/Applications/tutanota-3.112.11.AppImage' --appimage-extract && xdg-open '/home/dylan/Applications/squashfs-root'"

[Desktop Action Show]
Name=Open Containing Folder
Exec=xdg-open "/home/dylan/Applications"
