[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Comment=/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage
Keywords=Internet;WWW;Browser;Web;Explorer;
Exec=/home/dylan/Applications/appimaged-stable-754.AppImage wrap "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage" %u
Icon=/home/dylan/.cache/thumbnails/normal/c3fbc8a495eee06090c47fc64d0607ca.png
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=Firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;Trash;OpenPortableHome;CreatePortableHome;Extract;Update;Show
X-AppImage-Version=
X-ExecLocation=/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage
TryExec=/home/dylan/Applications/appimaged-stable-754.AppImage
X-AppImage-Identifier=c3fbc8a495eee06090c47fc64d0607ca
X-AppImage-UpdateInformation="gh-releases-zsync|srevinsaju|Firefox-Appimage|firefox|firefox*.AppImage.zsync"
X-XFCE-Source=file:///home/dylan/.local/share/applications/appimagekit_c3fbc8a495eee06090c47fc64d0607ca.desktop

[Desktop Action new-window]
Name=New Window
Name[en_US]=New Window
Exec=/home/dylan/Applications/appimaged-stable-754.AppImage wrap "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage" --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Name[en_US]=New Private Window
Exec=/home/dylan/Applications/appimaged-stable-754.AppImage wrap "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage" --private-window %u

[Desktop Action Trash]
Name=Move to Trash
Exec=gio trash "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage"

[Desktop Action OpenPortableHome]
Name=Open Portable Home in File Manager
Exec=xdg-open "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage.home"

[Desktop Action CreatePortableHome]
Name=Create Portable Home
Exec=mkdir -p "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage.home"

[Desktop Action Extract]
Name=Extract to AppDir
Exec=bash -c "cd '/home/dylan/Applications' && '/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage' --appimage-extract && xdg-open '/home/dylan/Applications/squashfs-root'"

[Desktop Action Update]
Name=Update
Exec=/home/dylan/Applications/appimaged-stable-754.AppImage update "/home/dylan/Applications/firefox-112.0.r20230414125621.AppImage"

[Desktop Action Show]
Name=Open Containing Folder
Exec=xdg-open "/home/dylan/Applications"
